/* Here we add box-sizing: border-box to all elements. This directive tells the browser */
/* to include padding and border elements in its width and height calculations.*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, #root {
    height: 100%;
}
